/*
#3f1600 (marron)
var(--quote) (turquoise)
#106C78 (bleu foncé)
#fff9af (jaune)
#774510 (café)
#e8e2b3 (jaune pâle)
#a3a680 (jaune plus terne)
*/

:root{
	--subT:#fff9af;
	--quote:#a3a680;
	--greatBlue:#106C78;
}

@font-face{
  font-family:"Cormorant Garamond";
  src:url("./fonts/CormorantGaramond.ttf");
  font-weight:normal;
  font-size:normal;
}

@font-face{
  font-family:"Petit Formal Script";
  src:url("./fonts/PetitFormalScript.ttf");
  font-weight:normal;
  font-size:normal;
}

@font-face{
  font-family:"29LTMakina";
  src:url("./fonts/29LTMakina.otf");
  font-weight:normal;
  font-size:normal;
}

*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

/*Marron : #3f1600*/
/*Bleu : var(--quote)*/
/*Teintes de crème :
#fff9af (jaune)
#774510 (café)
#e8e2b3 (jaune pâle)
#a3a680 (jaune plus terne)
*/

/*___________________________________________________________________________ Généralités*/
body{
	box-sizing:border-box;
	min-height:100vh;
	background-color: #3f1600;
	color:ivory;
	font-size:1.2rem;
	font-weight:350;
	font-family:"Cormorant Garamond";
}

.photo{
	background-image:url("./pictures/porte.jpg");
	background-size:cover;
	background-repeat:no-repeat;
}

button{
	background-color:transparent;
	border:0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: normal;
  margin: 0;
  display:inline;
}

.skillsItems{
	padding:2.2rem;
}

.CtrlG{
	font-weight:800;
}

.CtrlI{
	font-style:italic;
}

.title{
	font-size:clamp(3.5rem,5vw,6rem);
	padding-bottom:1rem;
	font-variant-caps:small-caps;
	font-family:"Cormorant Garamond";
	color:#fff9af;
}

.global{
	position:relative;
	display:block;
	margin-left:auto;
	margin-right:auto;
	width:80%;
}

.container{
	position:relative;
	width:100%;
	margin-top:3rem;
}

#phrase{
  text-align:center;
	font-size:1.7rem;
	margin:2rem 0 0 0;
	color:var(--subtT);
	font-family:"Petit Formal Script";
	background:rgba(63,22,0,0.1);
	backdrop-filter:blur(5px);
	padding:1rem 0;
	border-top-left-radius:35px;
	border-top-right-radius:35px;
	border-bottom:1px solid ivory;
}

/*___________________________________________________________________________ Menu*/
.fullScreenMenu{
	position:fixed;
	top:0;
	left:0;
	bottom:0;
	right:0;
	background:rgba(70, 22, 0, 0.7);
	backdrop-filter:blur(10px);
	display:none;
	align-items:center;
	justify-content:center;
	font-family:"Cormorant Garamond";
	text-transform:uppercase;
	font-size:2rem;
	line-height:150%;
	z-index:1;
	text-align:center;
}

.fullScreenMenu ul{
	list-style:none;
}

.fullScreenMenu ul li a{
	text-decoration:none;
}

.fullScreenMenu ul li a:hover{
	color:var(--greatBlue);
}

.primary a{
	color:ivory;
}

.secondary{
	font-size:1.5rem;
	line-height:120%;
}

.secondary a{
	color:var(--quote);
}

.active{
	display:flex !important;
}

.toggle{
	position:fixed;
	z-index:99;
	top:2rem;
	left:2rem;
}

/*___________________________________________________________________________ Hero section*/
.hero{
	position:relative;
	height:clamp(400px,100vh,900px);
	font-size:2rem;
	margin-bottom:100px;
}

.titleGroup{
	position:absolute;
	width:clamp(400px,60vw,800px);
	top:25vh;
	left:9vw;
	font-size:clamp(3.75rem,5.5vw,6rem);
}

.titlePage{
	position:relative;
	font-size:1.2em;
	padding-bottom:2vh;
	text-transform:uppercase;
	font-family:"Cormorant Garamond";
	word-break:break-all;
}

.subTitlePage{
	position:relative;
	font-size:0.5em;
	color:var(--subT);
	margin-bottom:0.2em;
	font-family:"Petit Formal Script";
}

.quote{
	position:relative;
	font-size:0.35em;
	color:var(--quote);
	font-family:"29LTMakina";
}

/*___________________________________________________________________________ Expériences et compétences associées*/
/*................................................ Animation*/
@keyframes horizontalXP{
	0%,15%{
		transform:translateX(0);
	}
	20%,35%{
		transform:translate(-100%);
	}
	40%,55%{
		transform:translate(-200%);
	}
	60%,75%{
		transform:translate(-300%);
	}
	80%,95%{
		transform:translate(-400%);
	}
	100%{
		transform:translate(-500%);
	}
}
/*................................................*/

.overflowHiddenXP{
	width:100%;
	overflow:hidden;
	&:hover .experiences{
	  animation-play-state:paused;
	}
}

.experiences{
	width:100%;
	display:flex;
	animation:horizontalXP 30s infinite ease-in-out;
}

.hzBlock{
	width:100%;
	display:flex;
	flex-shrink:0;
	border-bottom-letft-radius:50px;
	border-bottom-right-radius:50px;
	background:rgba(63,22,0,0.1);
	backdrop-filter:blur(5px);
}

.grpXP{
	width:100%;
	position:relative;
	display:flex;
	justify-content: space-between;
	padding:2rem;
	max-height:;
}

.rBlock{
	position:relative;
	display:block;
	width:30%;
}

.lBlock{
	display:relative;
	width:65%;
}

.firmPresentation{
	margin-bottom:2.5rem;
	text-align:center;
}

.skillsList ul{
	list-style-type:square;
}

.skillsList ul li::marker{
	color:var(--greatBlue);
}

.imgSkills{
	display:flex;
	justify-content:space-between;
	margin-bottom:2rem;
}
/* Décoration du texte ......................................*/
.firmName{
	overflow-wrap:anywhere;
	font-size:2.5rem;
	color:var(--subT);
	text-transform:uppercase;
}

.firmAddress{
	font-size:1rem;
	font-family:"Petit Formal Script";
	color:var(--quote);
}

.firmJobReason{
	font-size:1.4rem;
	font-weight:500;
	color:var(--subT);
	text-transform:uppercase;
}

.firmPeriod{
	font-style:italic;
	font-size:1rem;
	font-family:"Petit Formal Script";
	color:var(--quote);
}

.firmPresentation a{
	text-decoration:none;
	color:var(--greatBlue);
}

.firmDescription{
	color:var(--subT);
	font-size:1.5rem;
	text-transform:uppercase;
}

/*___________________________________________________________________________ Découpage en div*/
.formationsAndSkills{
	display:flex;
	justify-content:space-between;
	padding:10rem 0 15rem;
}

/*___________________________________________________________________________ Formations*/
/*................................................ Animation*/
@keyframes horizontalForm{
	0%,27%{
		transform:translateX(0);
	}
	32%,60%{
		transform:translate(-100%);
	}
	65%,92%{
		transform:translate(-200%);
	}
	100%{
		transform:translate(-300%);
	}
}
/*................................................*/
.overflowHiddenFormations{
	overflow:hidden;
	margin-right:1.5rem;
	&:hover .formations{
	  animation-play-state:paused;
	}
}

.containerFormation{
	max-width:55%;
	min-width:20rem;
}

.formations{
	display:flex;
	animation:horizontalForm 20s infinite ease-in-out;
}

.horizontalSection{
	width:100%;
	flex-shrink:0;
}

.blockFormations{
	padding:1rem;
	border-radius:30px;
	margin:5px 0;
	background:rgba(63,22,0,0.1);
	backdrop-filter:blur(5px);
}

.formNamePeriod{
	display:flex;
	justify-content:space-between;
}

.formName{
	font-size:1.5rem;
	text-transform:uppercase;
}

.formPeriod{
	font-family:"Petit Formal Script";
	color:var(--subT);
}

.formAcron{
	color:var(--quote);
	font-size:1.5rem;
}

.formUniv{
	color:var(--greatBlue);
	font-family:"29LTMakina";
}

/*___________________________________________________________________________ Langues et certifications*/
.competences{
	width:100%;
	font-size:1.5rem;
	margin-left:1.5rem;
}

.certifications{
	width:50%;
}

.langues{
	width:50%;
}

.speak{
	color:var(--quote);
	text-transform:uppercase;
}

.level{
	color:var(--greatBlue);
	font-family:"Petit Formal Script";
	padding-left:2rem;
}

/*___________________________________________________________________________ Espace avant le pied*/
.apparte{
	margin-top:15rem;
	font-family:"29LTMakina";
	color:var(--quote);
}

#afterGlobal{
	height:10.rem;
}

/*___________________________________________________________________________ Media queries*/
@media (max-width: 1250px) {
	.formationsAndSkills{
		display:block;
	}

	.rBlock{
		width:100%;
		display:flex;
		justify-content:space-between;
	}

	.periode{
		text-align:right;
	}

	.lBlock{
		width:100%;
	}

	.grpXP{
		display:block;
	}

	.blockFormations{
		display:block;
	}

	.formNamePeriod{
		display:block;
	}
}

@media (max-width: 768px) {

}

/* @media (max-width: 480px) { } petit mobile */