/*
#3f1600 (marron)
#5db9b8 (turquoise)
#106C78 (bleu foncé)
#fff9af (jaune)
#774510 (café)
#e8e2b3 (jaune pâle)
#a3a680 (jaune plus terne)
*/

:root{
	--subT:#fff9af;
	--quote:#a3a680;
	--greatBlue:#106C78;
}
@font-face{
  font-family:"Cormorant Garamond";
  src:url("./fonts/CormorantGaramond.ttf");
  font-weight:normal;
  font-size:normal;
}

@font-face{
  font-family:"Petit Formal Script";
  src:url("./fonts/PetitFormalScript.ttf");
  font-weight:normal;
  font-size:normal;
}

@font-face{
  font-family:"29LTMakina";
  src:url("./fonts/29LTMakina.otf");
  font-weight:normal;
  font-size:normal;
}

*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

/*Marron : #3f1600*/
/*Bleu : #5db9b8
Bleu foncé : #106C78
*/
/*Teintes de crème :
#fff9af (jaune)
#774510 (café)
#e8e2b3 (jaune pâle)
#a3a680 (jaune plus terne)
*/

/*___________________________________________________________________________ Généralités*/
body{
	box-sizing:border-box;
	color:ivory;
	font-size:1.1rem;
	font-weight:350;
	background-color: #3f1600;
	font-family:"Cormorant Garamond";
	
}

button{
	background-color:transparent;
	border:0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: normal;
  margin: 0;
  display:inline;
}

.title{
	font-size:clamp(3.5rem,5vw,6rem);
	padding-bottom:1rem;
	font-variant-caps:small-caps;
	color:#fff9af;
}

.subtitle{
	font-size:clamp(2rem,3vw,5rem);
	padding-top:3rem;
	padding-bottom:1rem;
	font-family:"Petit Formal Script";
	color:var(--quote);
}

.global{
	position:relative;
	display:block;
	margin-left:auto;
	margin-right:auto;
	width:80%;
}

/*___________________________________________________________________________ Menu*/
.fullScreenMenu{
	position:fixed;
	top:0;
	left:0;
	bottom:0;
	right:0;
	background:rgba(70, 22, 0, 0.7);
	backdrop-filter:blur(10px);
	display:none;
	align-items:center;
	justify-content:center;
	font-family:"Cormorant Garamond";
	text-transform:uppercase;
	font-size:2rem;
	line-height:150%;
	z-index:1;
	text-align:center;
}

.fullScreenMenu ul{
	list-style:none;
}

.fullScreenMenu ul li a{
	text-decoration:none;
}

.fullScreenMenu ul li a:hover{
	color:var(--greatBlue);
}

.primary a{
	color:ivory;
}

.secondary{
	font-size:1.5rem;
	line-height:120%;
}

.secondary a{
	color:var(--quote);
}

.active{
	display:flex !important;
}

.toggle{
	position:fixed;
	z-index:99;
	top:2rem;
	left:2rem;
}

/*___________________________________________________________________________ Hero section*/
.hero{
	position:relative;
	height:clamp(400px,100vh,900px);
	font-size: 2rem;
	margin-bottom:100px;
}

.picture{
	width:100vw;
	height:100vh;
	z-index:-1;
	position:fixed;
}

.picture img{
	width:100%;
	height:100%;
	object-fit:cover;
}

.titleGroup{
	position:absolute;
	width:clamp(400px,70vw,1500px);
	top:25vh;
	left:9vw;
	font-size:clamp(3.75rem,5.5vw,6rem);
}

.titlePage{
	position:relative;
	font-size:1.2em;
	padding-bottom:2vh;
	text-transform:uppercase;
	font-family:"Cormorant Garamond";
	word-break:break-all;
}

.subTitlePage{
	position:relative;
	font-size:0.5em;
	color:var(--subT);
	margin-bottom:0.2em;
	font-family:"Petit Formal Script";
}

.quote{
	position:relative;
	font-size:0.35em;
	color:var(--quote);
	font-family:"29LTMakina";
}

/*#e4bb87 -#644320 - #3f1600*/
/*___________________________________________________________________________ Téléchargments */
.downloads{
  display:block;
}

.itemDownloads{
  display:flex;
  justify-content:space-between;
}

.titleDownload{
  font-family:"Cormorant Garamond";
  font-size:1.5rem;
  line-height:150%;
}

.indisponible{
	color:var(--greatBlue);
}

/*___________________________________________________________________________ Contact */
.contact{
	padding:250px 0;
	display:block;
	align-content:center;
}

.emailAddress{
	font-family:"Petit Formal Script";
	font-size:clamp(0.9rem, 5vw, 2.5rem);
}

/*___________________________________________________________________________ Espace avant le pied*/
.afterGlobal{
	height:5rem;
}